
<div class="container">
  <h1>Animaux</h1>
  <!-- On place les éléments invariables, le corps immobile du HTML -->
  
  <div class="container" *ngFor="let item of animals">
    <img class="taille_img" src="{{item.img}}" alt="{{item.name}}"/>
  </div>

    
  <div class="container" *ngFor="let item of animals">
    <div (click)="selectAnimals(null)">
      <div *ngIf="selectAnimals(item)">
          <h3 id="selected-animal-name"> {{SelectedAnimal.name}} </h3>
        
          <p class="weight" id="selected-animal-weight"> {{SelectedAnimal.type}} </p>
  
          <img src="{{item.img}}" alt=""  height="200">
      </div>
    </div> 
  </div>


</div>
