/* You can add global styles to this file, and also import other style files */
#animals {
    display: flex;
    padding: 0;
  }
  #animals li {
    list-style: none;
    margin-right: 10px;
  }
  #animals li:hover {
    cursor: pointer;
    background-color: #eee;
  }
  .taille_img{
      width: 10%;
  }